.nav-toggle {
  width: 10px;
  background: #fff;
  height: 100%;
}
#nav-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* vertical line */
.nav-toggle:hover {
  background: linear-gradient(90deg, #0052CC 30%, #fff 30%);
  cursor: pointer;
}

/* arrow */
#nav-arrow:before,
#nav-arrow:after {
  height: 100vh;
  background: #0052CC;
  content: '';
  height: 3px;
  position: absolute;
  width: 9px;
}

/* top part of the arrow */
#nav-arrow:before {
  transform: translate(1px, 1px) rotate(55deg);
  transform-origin: right;
}
.open #nav-arrow:after {
  transform: translate(5px, 1px) rotate(-55deg);
  transform-origin: left;
}

/* bottom part of the arrow  */
#nav-arrow:after {
  transform: translateX(1px) rotate(-55deg);
  transform-origin: right;
}
.open #nav-arrow:before {
  transform: translateX(5px) rotate(55deg);
  transform-origin: left;
}
